@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

/*Barra inicio*/
.navbar-nav .nav-link {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    color: black;
}

.bg-color {
    background-color: #97c2b7;
}


.logo {
    width: 100px;
    height: auto;
}

/*INICIO*/

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Anta", sans-serif;
}

.portada img {
    margin-right: 20px;
}

/*SOBRE MI*/

.presentacion .row {
    display: flex;
    align-items: center;
}

.presentacion .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Anta", sans-serif;
}

.presentacion p,
h1 {
    text-align: center;
    margin-left: 50px;
}





.p {
    color: #960c0c;
    font-family: 'Courier New', Courier, monospace;
}

/*Carpetas proyecto*/
.btn-img.btn.btn-outline.btn-lg {
    background-color: transparent;
    border: none;
    padding: 0;

    transition: transform 0.10s ease;
}

.btn-img:hover {
    transform: scale(1.2);
}


/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #222;
    color: #fff;
}

#theme-toggle {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
